<div id="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <% if(server !== undefined) { %>
            <li><a href="/password">Password</a></li>
            <li><a href="/maps">Maps</a></li>
            <li><a href="/configs">Configs</a></li>
            <li><a href="/command">Commands</a></li>
            <li><a href="/clear">Clear Server</a></li>
        <% } %>
        <li><a href="/help">Help</a></li>
    </ul>
</div>

