<!DOCTYPE html>
<html>
    <% include partials/part_head %>
    <body>
        <div class="container">
            <div class="row">
                <% include partials/part_navbar %>
            </div>
            <% if(changed) { %>
                <% if(error) { %>
                    <div class="row">
                        <p class="fail">Config not found!</p>
                    </div>
                <% } else { %>
                    <div class="row">
                        <p class="success">Config executed</p>
                    </div>
                <% } %>
            <% } %>
            <div class="row">
                <form action="/execute" method="POST">
                    <div class="form-group col-sm-6">
                        <label class="control-label" for="config">Execute Config:</label>
                        <input class="input-lg" type="text" name="config" id="config" />
                    </div>
                    <div class="form-group col-sm-6">
                        <button class="btn-success btn-lg" type="submit">Execute</button>
                    </div>
                    <input type="hidden" name="action" value="config" />
                </form>
            </div>
                <% for(var i=0; i<configList.length;) { %>
                <div class="row">
                    <% for(var j=0; j<4; j++) { %>
                        <% if(configList[i] !== undefined) { %>
                            <div class="col-sm-3">
                                <form action="/execute" method="POST">
                                    <label class="control-label" for="config"><%= configList[i].name %></label>
                                    <p class="subtitle"><%= configList[i].description %></p>
                                    <button class="btn-success btn-lg" type="submit">Execute</button>
                                    <input type="hidden" name="config" value="<%= configList[i].config %>" id="config" />
                                    <input type="hidden" name="action" value="config" />
                                </form>
                            </div>
                            <% i++ %>
                        <% } %>
                    <% } %>
                </div>
                <% } %>
            <div class="row">
                <% include partials/part_footer %>
            </div>
        </div>
    </body>
</html>
