<!DOCTYPE html>
<html>
   <% include partials/part_head %>
   <body>
         <div class="container">
            <div class="row">
                <% include partials/part_navbar %>
            </div>
        </div>
       <div class="row">
            <% include partials/part_footer %>
        </div>
   </body>
</html>
