<!DOCTYPE html>
<html>
    <% include partials/part_head %>
    <body>
        <div class="container">
            <div class="row">
                <% include partials/part_navbar %>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <% include text/text_help %>
                </div>
            </div>
            <div class="row">
                <% include partials/part_footer %>
            </div>
        </div>
    </body>
</html>
