<!DOCTYPE html>
<html>
    <% include partials/part_head %>
    <body>
        <div class="container">
            <div class="row">
                <% include partials/part_navbar %>
            </div>
            <div class="row">
                <form action="/server" method="POST">
                    <div class="form-group col-sm-6">
                        <label class="control-label" for="address">Server Address:</label>
                        <input class="input-lg" type="text" name="address" id="address" />
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="control-label" for="rcon">RCON Password:</label>
                        <input class="input-lg" type="text" name="rcon" id="rcon" />
                    </div>
                    <p class="title">OR</p>
                    <div class="form-group col-sm-12">
                        <label class="control-label" for="string">Connect String:</label>
                        <input class="input-lg" type="text" name="string" id="string" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn-success btn-lg">Submit</button>
                    </div>
                </form>
            </div>
            <div class="row">
                <% include text/text_home %>
            </div>
            <div class="row">
                <% include partials/part_footer %>
            </div>
        </div>
    </body>
</html>
