<!DOCTYPE html>
<html>
    <% include partials/part_head %>
    <body>
        <div class="container">
            <div class="row">
                <% include partials/part_navbar %>
            </div>
            <% if(changed) { %>
                <% if(error) { %>
                    <div class="row">
                        <p class="fail">Map not found!</p>
                    </div>
                <% } else { %>
                    <div class="row">
                        <p class="success">Map changed! Check the server for the map change.</p>
                    </div>
                <% } %>
            <% } %>
            <div class="row">
                <p class="subtitle">If the map has been changed sucessfully you will be redirected back here, after the server has changed map. If the map was not changed on the server, re-enter your server details and try again.</p>
            </div>
            <div class="row">
                <form action="/execute" method="POST">
                    <div class="form-group col-sm-6">
                        <label class="control-label" for="mapname">Map Name:</label>
                        <input class="input-lg" type="text" name="mapname" id="config" />
                    </div>
                    <div class="form-group col-sm-6">
                        <button class="btn-success btn-lg" type="submit">Change Map</button>
                    </div>
                    <input type="hidden" name="action" value="map" />
                </form>
            </div>
            <div class="row">
                <% for(var i=0; i<mapList.length; i++) { %>
                    <form action="/execute" method="POST">
                        <div class="col-sm-3">
                            <label class="control-label" for="mapname"><%= mapList[i].realname %></label>
                            <input type="image" style="width: 100%; border: 2px solid #000000" src="/images/<%= mapList[i].mapfile %>.jpg" onerror="this.src='/images/mapname.jpg'" alt="<%= mapList[i].mapfile %>" />
                            <input type="hidden" name="mapname" value="<%= mapList[i].mapfile %>" id="mapname" />
                        </div>
                        <input type="hidden" name="action" value="map" />
                    </form>
                <% } %>
            </div>
            <div class="row">
                <% include partials/part_footer %>
            </div>
        </div>
    </body>
</html>
