<!DOCTYPE html>
<html>
    <% include partials/part_head %>
    <body>
        <div class="container">
            <div class="row">
                <% include partials/part_navbar %>
            </div>
            <div class="row">
                <form action="/server" method="POST">
                    <div class="form-group col-sm-6">
                        <label class="control-label" for="address">Address:</label>
                        <input class="input-lg" value="<%= server.address %>" type="text" name="address" id="address" />
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="control-label" for="rcon">Address:</label>
                        <input class="input-lg" value="<%= server.rcon %>" type="text" name="rcon" id="rcon" />
                    </div>
                    <div class="form-group col-sm-12">
                        <button class="btn-success btn-lg" type="submit">Update Settings</button>
                    </div>
                </form>
            </div>
            <div class="row">
                <form action="/clear" method="GET">
                    <div class="form-group col-sm-12">
                        <button class="btn-success btn-lg" type="submit">Reset Settings</button>
                    </div>
                </form>
            </div>
            <div class="row">
                <% include partials/part_footer %>
            </div>
        </div>
    </body>
</html>
