<p class="title">Help</p>
<p>AdminRCON is a simple online tool that you can use to access your server using the RCON password and do some simple management without having to log onto the server and type into a console.</p>
<p>The current tasks you can do are:
<ul>
    <li>Change the password</li>
    <li>Execute configs</li>
    <li>Change the map</li>
    <li>Execute custom commands</li>
</ul>
with more features to come!</p>

<p>If you need any help with using the tool, or you find a bug, you can contact the developer on <a href="https://steamcommunity.com/id/Thermo-Nuclear/">Steam</a>, or message me on Discord <span class="code">Thermite#5512</span></p>
