<p class="title">Welcome to <%= title %></p>
<p>Simply type in the IP and RCON password of your server or paste in a connect string in the format:
  'connect &lt;hostname&gt;; password &lt;server_password&gt;; rcon_password &lt;rcon_password&gt;'</p>
<p>Click submit and you can now do all kinds of things to your server from the comfort of your browser!</p>