@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
 
body {
    font-size: 24px;
    font-family: 'Roboto Mono', monospace;
    color: #000000;
}

a {
    color: #0f7704;
}
a:hover {
    color: #0f7704;
}

#navbar ul {
    margin-top: 20px;
}
#navbar ul li {    
    display: inline-block;
    list-style-type: none;
    margin: 10px;
    margin-bottom: 20px;
}
#navbar ul li a {
    text-decoration: none;
    color: #000000;
    padding: 5px;
    background-color: #c8f442;
    border: 2px solid #111111;
    border-radius: 10px;
}
#navbar ul li a:hover {
    text-decoration: none;
    background-color: #97b926;
}

.success {
    background-color: #bbff006e;
    padding: 5px;
    border: 2px solid #000000;
}

.title {
    font-size: 48px;
}

.container {
    padding: 0px 40px;
    background-color: #ee6969;
    border-radius: 20px;
}